[Desktop Entry]
Type=Application
Name=Slick
Comment=Slack client mod (BYOE)
Exec=slick %U
Icon=dev.slick.Slick
Terminal=false
Categories=Network;InstantMessaging;
MimeType=x-scheme-handler/slack;
StartupWMClass=Slick
